<h1>Session Simple</h1>
<p>
    <a asp-controller="EjemploSesion" asp-action="SessionSimple" asp-route-accion="almacenar">Almacenar</a>
</p>
<p>
    <a asp-controller="EjemploSesion" asp-action="SessionSimple" asp-route-accion="mostrar">Mostrar</a>
</p>

<h2>@ViewData["Mensaje"]</h2>

<h2>@ViewData["Nombre"]</h2>
<h2>@ViewData["Hora"]</h2>
